$sp: 375px;
$tb: 768px;
$lptp: 1024px;

@mixin sp {
    @media (max-width: ($sp)) {
    @content;
    }
}

@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

@mixin lptp {
    @media (max-width: ($lptp)) {
        @content;
    }
}

@mixin about-item {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-bottom: 84px;
    @include sp {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .about-img {
        max-width: 525px;
        max-height: 300px;
        z-index: 2;
        @include sp {
            width: 80%;
            height: 200px;
            min-height: 200px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .about-txts {
        max-width: 813px;
        min-width: 300px;
        height: auto;
        padding-left: 12.4vw;
        padding-top: 160px;
        padding-bottom: 30px;
        background-image: url(/img/bg.jpg);
        margin-left: -48.23vw;
        margin-top: 177px;
        @include sp {
            width: 100%;
            margin: -100px 0 0 0;
            padding: 130px 14px 30px 14px;
        }
        .contents-ttl {
            font-size: 2.4rem;
            font-weight: 500;
        }
        .sub-ttl {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 32px;
            margin-top: 22px;
            margin-bottom: 22px;
            br {
                @include sp {
                    display: none;
                }
            }
        }
        .contents-txt {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 21px;
        }
    }
}
.header {
    @include sp {
        height: 50px;
    }
    &-in {
        .header-nav {
            @include tb {
                display: none;
            }
        }
        .header-logo {
            img {
                @include sp {
                    width: 160px;
                    height: 30px;
                }
            }
        }
        .btnHamburger {
            @include tb {
                display: block;
            }
            @include sp {
                top: 0%;
            }
        }
        .reservation-btn {
            @include tb {
                display: none;
            }
        }
        .drawer-menu {
            .menu-wrapper {
                   @include sp {
                       width: 60%;
                   }
            }
        }
    }
}
.header-clone {
    @include sp {
        height: 50px;
    }
    .header-in {
        .header-nav {
            @include tb {
                display: none;
            }
        }
        .header-logo {
            img {
                @include sp {
                    width: 160px;
                    height: 30px;
                }
            }
        }
        .btnHamburger {
            @include tb {
                display: block;
            }
            @include sp {
                top: 0%;
            }
        }
        .reservation-btn {
            @include tb {
                display: none;
            }
        }
        .drawer-menu {
            .menu-wrapper {
                @include sp {
                    width: 60%;
                }
            }
        }
    }
}
.modal {
    &-in {
        @include sp {
            width: 100%;
            height: auto;
            padding: 0 10px;
        }
        .modal-ttl {
            @include sp {
                padding: 10px 0;
                margin-bottom: 10px;
            }
        }
        label {
            @include sp {
                font-size: 1.3rem;
            }
        }
        input {
            @include sp {
                margin: 10px 0;
            }
        }
        .send {
            @include sp {
                margin-top: 20px;
            }
        }
    }
}
.mv {
    @include tb {
        height: 400px;
    }
    @include sp {
        height: 320px;
    }
    &-in {
        .heading {
            @include tb {
                font-size: 2.8rem;
            }
        }
    }
}
.about {
    &-in {
        .about-container {
            @include tb {
                padding-top: 60px;
                padding-bottom: 60px;
            }
            @include sp {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            .breadcrumb-list {
                @include tb {
                    width: 98%;
                    margin-bottom: 80px;
                }
                @include sp {
                    margin-bottom: 70px;
                }
                .breadcrumb-item {
                    @include sp {
                        font-size: 1.3rem;
                    }
                }
            }
            .about-ttl {
                @include tb {
                    font-size: 1.4rem;
                }
                @include sp {
                    font-size: 1.3rem;
                }
            }
            .about-contents {
                @include tb {
                    width: 98vw;
                    margin-top: 46px;
                }
                .about-item01 {
                    @include tb {
                        @include about-item;
                    }
                }
                .about-item02 {
                    @include tb {
                        display: grid;
                        grid-template-columns: 70% 30%;
                        margin-bottom: 84px;
                        }
                        @include sp {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 50px;
                        }
                        .about-img {
                            @include tb {
                                max-width: 525px;
                                max-height: 300px;
                                margin-left: -120%;
                                z-index: 2;
                            }
                            @include sp {
                                width: 80%;
                                height: 200px;
                                min-height: 200px;
                                margin: 0;
                                order: 0;
                            }
                            img {
                                @include tb {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .about-txts {
                            @include tb {
                                max-width: 813px;
                                min-width: 380px;
                                height: auto;
                                padding-left: 6.2vw;
                                padding-top: 160px;
                                padding-bottom: 30px;
                                background-image: url(/img/bg.jpg);
                                margin-top: 177px;
                            }
                            @include sp {
                                width: 100%;
                                margin: -100px 0 0 0;
                                padding: 130px 14px 30px 14px;
                            }
                            .contents-ttl {
                                @include tb {
                                    font-size: 2.4rem;
                                    font-weight: 500;
                                }
                            }
                            .sub-ttl {
                                @include tb {
                                    font-size: 1.6rem;
                                    font-weight: 500;
                                    line-height: 32px;
                                    margin-top: 22px;
                                    margin-bottom: 22px;
                                }
                            }
                            .contents-txt {
                                @include tb {
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    line-height: 21px;
                                }
                            }
                        }
                }
                .about-item03 {
                    @include tb {
                        @include about-item;
                    }
                }
            }
        }
    }
}
footer {
    .footer-in {
        @include tb {
            padding-top: 50px;
        }
        .footer-nav {
            .nav-list {
                @include sp {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .food {
                    @include sp {
                        margin-left: 5vw;
                        margin-right: 5vw;
                    }
                }
            }
        }
        .footer-logo {
            @include tb {
                margin-top: 40px;
            }
        }
        .add-container {
            @include tb {
                margin-top: 30px;
            }
        }
        .copy-right {
            @include tb {
                margin-top: 30px;
            }
        }
    }
}